/*-----------------NAVBAR--------------=-----*/
#bar{
    background-color: rgb(23, 128, 152);
    border-bottom: 1px solid white;
}

#welcome{
    margin-top: 15px;
    text-align: center;
}

#img-logo{
    height: 70px;
    width: 70px;
}

#title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 255, 0);
    box-shadow: 3px 3px 2px 2px rgb(208, 188, 188), -1px -1px 1px 1px rgb(0, 53, 128);
    border-radius: 5px;
}

/*-----------------DOCUMENT--------------=-----*/

html, body{
    overflow: hidden;
    background-color: rgb(139, 178, 185);
    height: 750px;
}


#background{
    margin: 110px 0px 0px 470px;
    background: url(images/scenery.png) no-repeat;
    height: 550px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 2px white, -1px -1px 1px 1px white;
    padding-top: 30px;
}

#btn-start{
    padding: 50px 330px 0px 7px;
}

#img-btn{
    height: 50px;
    width: 50px;
}

button{
    background: transparent;
    border: none;
}

select{
    border-radius: 3px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

footer{
    margin: 65px 0px 0px 5px;
    font-size: 10px;
}

/*-----------------FONT--------------=-----*/

.font-style{
    font-family: Comic Sans MS, Comic Sans, cursive;
}


/*-----------------GAME PAGE--------------=-----*/

.sideBar{
    width: 55px;
}

#img-timer{
    
    width: 140px;
    height: 130px;
    background-image: url("images/timer.png");
}

#timer{

    margin-left: 55px;
    font-size: 30px;
}

td{

    border: 3px solid rgb(239, 239, 239);
}

#btn-restart{

    border-radius: 7px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    border: 2px solid blue;
    text-align: center;
    background-color: aquamarine;
    color: gray;
}

#btn-restart:hover{
    
    background-color: white;
    color: black;
}

.modal-window{

    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.415);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}


