.background{
    
    background: url(images/scenery.png) no-repeat;
    height: 100vh;
    width: 100vw;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 2px white, -1px -1px 1px 1px white;

}

footer{

    padding: 550px 0px 0px 0px;
}
