/*-----------------NAVBAR--------------=-----*/
#bar{
    background-color: rgb(23, 128, 152);
    border-bottom: 1px solid white;
}

#welcome{
    margin-top: 15px;
    text-align: center;
}

#img-logo{
    height: 70px;
    width: 70px;
}

#title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 255, 0);
    box-shadow: 3px 3px 2px 2px rgb(208, 188, 188), -1px -1px 1px 1px rgb(0, 53, 128);
    border-radius: 5px;
}

/*-----------------DOCUMENT--------------=-----*/

html, body{
    
    overflow: hidden;
    background-color: rgb(139, 178, 185);
    height: 100vh;
    width: 100vw;
}


.background{
    
    background: url(images/scenery.png) no-repeat;
    height: 550px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 2px white, -1px -1px 1px 1px white;
    padding-top: 30px;

}

#background-index{

    margin: 110px 0px 0px 450px;
    
}

#background-game{

    margin: 110px 0px 0px 300px;
    border: 2px solid green;

}


#btn-start{
    padding: 50px 330px 0px 7px;
}

#img-btn{
    height: 50px;
    width: 50px;
}

button{
    background: transparent;
    border: none;
}

select{
    border-radius: 3px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}



/*-----------------FONT--------------=-----*/

.font-style{
    font-family: Comic Sans MS, Comic Sans, cursive;
}


/*-----------------GAME PAGE--------------=-----*/

.sideBar{
    width: 55px;
}

#img-timer{
    
    width: 140px;
    height: 130px;
    background-image: url("images/timer.png");
}

#timer{

    margin-left: 55px;
    font-size: 30px;
}

td{

    border: 3px solid rgb(239, 239, 239);
}

#btn-restart{

    border-radius: 7px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    border: 2px solid blue;
    text-align: center;
    background-color: aquamarine;
    color: gray;
}

#btn-restart:hover{
    
    background-color: white;
    color: black;
}

#modal-victory{

    background: url(images/victoryBallons2.jpg) no-repeat;
    background-size: 100%;
    width: 30%;
    height: 30%;
    position: relative;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    box-shadow: 3px 3px 2px 2px white, -1px -1px 1px 1px white;
    margin-top: 150px;
    margin-right: 20px;
    color: green;
    text-shadow: -0px -0px white, 2px 2px gold;

}

.modal-style{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 15px;
    
}

#modal-defeat{

    background: url(images/defeatBalloons2.jpg) no-repeat;
    background-size: 100%;
    width: 30%;
    height: 30%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    box-shadow: 3px 3px 2px 2px white, -1px -1px 1px 1px white;
    margin-top: 150px;
    margin-right: 20px;
    color: white;
    text-shadow: -0px -0px white, 2px 2px black;
    
}

.text-result{

    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 25px;

}

#footer-game{

    margin: 700px 0px 0px 5px;
    font-size: 10px;
    
}

#footer-index{

    margin: 40px 0px 0px 5px;
    font-size: 10px;
    
}

#balloons{

    margin-bottom: 300px;
}

#game{

    margin-top: 120px;
}

.score-style{

    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 5px;
    color: white; 
}

#score-head{

    font-size: 15px;
    font-weight: bold;
}









